# Global node_modules aur next folders (Sab se zaroori)
**/node_modules/
**/.next/
node_modules/
.next/

# TalentIQ specific sub-folder patterns
talentiq/node_modules/
talentiq/.next/
uploads
# Backend patterns
**/__pycache__/
backend/.data/
data/pdf
node_modules
.env
.env.docker
data
GOOGLE_CLIENT_SECRET
GOOGLE_CLIENT_ID
NEXTAUTH_SECRET
NEXTAUTH_URL
NEXT_PUBLIC_API_URL